/* styles.css */

/* General Styles */
* {
	font-family: "LucidaGrande", sans-serif;
	box-sizing: border-box; /* Ensure padding and border are included in width and height */
}

body {
	margin: 0;
	padding: 0;
	background-color: #1e1e1e;
	color: white;
}

p {
	text-align: center;
}

a {
	color: #8080ff;
}

button {
	font-size: 12px;
	border: 1px solid;
	height: 30px;
	margin: 10px;
	background-color: #333;
	color: white;
}

.information {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Layout Containers */
.panel-container {
	display: flex;
	flex-direction: row;
	padding-top: 1%;
	padding-left: 0.25%;
	width: 100%;
	height: 100vh; /* Full viewport height */
	background-color: #232323;
}


.property-list {
	width: 20%;
	background-color: #1D1D1D;
	border: 1px solid #444;
	box-sizing: border-box;
	font-size: 12px;
	color: #ddd;
}

.row {
	height: 25px; /* Set height for all rows */
	border-top: 1px solid #333; /* Border above */
	border-bottom: 1px solid #333; /* Border below */

}

/* Specific Styles */
.property-header {
	font-weight: bold;
	background-color: #2b2b2b;
}

.property-row {
	cursor: pointer;
}

.property-detail {
	padding-left: 15px;
	color: #ddd;
}


.timeline-controls-container {
	width: 80%; /* Right section width */
	padding: 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

/* Timeline Styles */
.timeline-container {
	position: relative;
	width: 100%;
	height: 200px;
	border: 1px solid #ccc;
	overflow: hidden;
	background-color: #2b2b2b;
}

.timeline-ruler {
	width: 100%;
	height: 20px;
	background-color: #333;
	border-bottom: 1px solid #555;
	position: relative;
}

.track-container {
	position: relative;
	width: 100%;
	background-color: #1e1e1e;
}

.track-row {
	position: relative;
	width: 100%;
	height: 40px; /* Adjust height as needed */
	border-bottom: 1px solid #444;
}

.keyframe {
	position: absolute;
	top: 50%;
	width: 10px;
	height: 10px;
	background-color: #f00;
	border-radius: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

